/*sass --watch style.scss ../style.css*/


@import "partials/_ColorPalette";


@import url('https://fonts.googleapis.com/css?family=Roboto|Solway&display=swap');

$title-font:'Solway', serif;
$text-font:'Roboto', sans-serif;


$arounBcgColor : rgb(232, 252, 254);
$fontSizeInit : 1vw;
$heightpage:82vh;

html{
    color: $color-primary-4;
    font-family: $text-font;
    background-color: $background-color;
    z-index: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
    
}



header{
    
    
    h1, h2{
        margin: 0;
        text-align: center;
        /* color: $color-primary-4; */
    }
    #Information{
        display: flex;
        .Side-Block{
            width: 20vw;
            text-align: center;
            margin: auto;
        }
        .Center-Block{
            width: 50vw;
            margin: 0 5vw;
            text-align: justify;
        }
    }

    #Navigation{
        background-color: $color-primary-4;
        display: flex;
        padding-left: 5vw;
        color: $background-color;
        align-items: center;
        nav{
            display: flex;
            text-align: center;
            ul{
                margin: 0;
                right: 100%;
                width: 80vw;
                display: flex;
                justify-content: space-around;
                list-style: none;

                li{
                    margin: auto;

                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        background-color: $color-primary-1;
        z-index: 10;
        height: 5vh;
    }
}

main{
    display: flex;
    aside{
        width: 20vw;
        background-color: $color-primary-1 ;
        height: 95vh;
        z-index: -99;
        padding-top: 5vh;
    }
    .fixed-aside{
        position: fixed;
        top: 5vh;
        padding-top: 20vh;
    }
    
    
    #Main-Content{
        background-color: $background-color;
        width: 50vw;
        margin: 0 5vw;
        
        h2, h3, h4, h5{
            text-align: center;
        }

        .Skills-List{
            padding-left: 0;
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-between;
        }

        .Other-Skills-List{
            list-style: none;
            text-align: center;
        }
        .Lang-List{
            width: 100%;
            text-align: center;
            border: medium solid $color-primary-4 ;
            border-collapse: collapse;
            thead{
                tr{
                border: medium solid $color-primary-4 ;
                }
            }
            tbody{
                tr{
                    border: thin solid $color-primary-4 ;
                }
            }
            td{
                border: thin dotted $color-primary-4;
            }
        }
        .Main-Creat{
            display: flex;
            list-style: none;

            img{
                width : 20%;
                margin: 2.5%;
            }
        }
    }

    .fixed-main{
        position: relative;
        left: 20vw;
    }

    #Social-Card-Bloc {
        

        ul {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom:0;
    
        }
        li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor:pointer;
            height: 400px;
        }
        .Card-Item {
            
            display: block;
            height: auto;
            width: 100%;
        }
        
    }

    .fixed-card{
        right :0vw;
    }

    #marge-bottom{
        height: 5vh;
    }
}

footer{
    background-color: $color-primary-4;
    color: $background-color;
    height: 5vh;
    z-index: 10;
    width: 100%;
    align-items: center;
}

.fixed-footer{
    position: fixed;
    bottom: 0vh;

}
