// Feuille de style SASS * /
// Codes couleurs des palettes * /
// URL de la palette: http://paletton.com/#uid=33G0O0kntrrbpKBigvRrIlMzaep * /

// N'hésitez pas à copier / coller des codes couleurs dans votre application * /


// Comme codes hexadécimaux * /

$background-color :#fbfdff ;

$color-primary-0: #305691; // Couleur primaire principale * /
$color-primary-1: #8FA9D3;
$color-primary-2: #5173A8;
$color-primary-3: #193B73;
$color-primary-4: #06214C;

$color-secondary-1-0: #DBCD3A; // Couleur secondaire principale (1) * /
$color-secondaire-1-1: #FFF7A4;
$color-secondary-1-2: #FEF26D;
$color-secondary-1-3: #AEA117;
$color-secondaire-1-4: #736900;

$color-secondary-2-0: #DB4A3A; // Couleur secondaire principale (2) * /
$color-secondary-2-1: #FFADA4;
$color-secondary-2-2: #FE7B6D;
$color-secondary-2-3: #AE2617;
$color-secondary-2-4: #730B00;



// Comme codes RGBa * /

$rgba-primary-0: rgba(48, 86, 145, 1); // Couleur principale principale * /
$rgba-primaire-1: rgba(143.169,211,1);
$rgba-primary-2: rgba(81.115,168,1);
$rgba-primary-3: rgba(25, 59, 115, 1);
$rgba-primary-4: rgba(6, 33, 76,1);

$rgba-secondaire-1-0: rgba(219, 205, 58,1); // Couleur secondaire principale (1) * /
$rgba-secondaire-1-1: rgba(255, 247, 164,1);
$rgba-secondaire-1-2: rgba(254,242,109,1);
$rgba-secondaire-1-3: rgba(174.161, 23,1);
$rgba-secondaire-1-4: rgba(115, 105, 0,1);

$rgba-secondaire-2-0: rgba(219, 74, 58,1); // Couleur secondaire principale (2) * /
$rgba-secondaire-2-1: rgba(255,173.164,1);
$rgba-secondaire-2-2: rgba(254 ,123, 109,1);
$rgba-secondaire-2-3: rgba(174, 38, 23,1);
$rgba-secondaire-2-4: rgba(115, 11, 0,1);



// Généré par Paletton.com © 2002-2014 * /
// http://paletton.com * /